# //python gitignore file
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
pip-wheel-metadata
.tox
.coverage
.installed.cfg
*.egg-info
.eggs
.env
.venv
env
venv
ENV
env.bak
venv.bak
.pytest
.pytest_cache
.mypy_cache
.pytest_cache